.grid-33
  .app--section
    ul.app--user--list
      each tweeter in friends.users
        li
          .circle--fluid
            .circle--fluid--cell.circle--fluid--primary
              a.app--tweet--author
                .app--avatar(style='background-image: url(' + tweeter.profile_image_url + ')')
                  img(src=tweeter.profile_imageurl)
                h4 #{tweeter.name}
                p @#{tweeter.screen_name}
            .circle--fluid--cell
              a.button.button-text Unfollow